@charset "UTF-8";

 		li.cus{font-size:20px;}  
		li.call{font-size:30px;}   
		li.bold{font-weight:bold;}
		
		button.color{background-color:#333; }
		label.size{font-size:20px;}  
	
	
		
		body { margin:0; padding:0; font-family:'맑은 고딕', verdana; }
		a { color:#05f; text-decoration:none; }
		a:hover { text-decoration:underline; }
		
		h1, h2, h3, h4, h5, h6 { margin:0; padding:0; }
		ul, lo, li { margin:0; padding:0; list-style:none; }
	
		/* ---------- */  
		label#size{font-size:50px;}
		
		div#container_box{padding:40%;}  
		
		div#root { width:900px; margin:0 auto; }
		div#root2 { width:100%; margin:0 auto; }
				
		header#header {}
		nav#nav {}
		section#container { } 
		section#content { display:flex; width:200px; height:200px; align-items:center; justify-content:center; }
		aside#aside { float:left; width:180px; }
		section#container::after { content:""; display:block; clear:both; }	
		
		footer#footer { background:#eee; padding:20px; }
		footer#footer { margin-top:10%; border-radius:50px 50px 0 0; }
		footer#footer div#footer_box { padding:0 50px; }
		
		
		/* ---------- */
		
		header#header div#header_box { text-align:center;}
		header#header div#header_box h1 { font-size:50px; }
		header#header div#header_box h1 a { color:#000; }
		
	
		
		aside#aside h3 { font-size:23px; margin-bottom:20px; text-align:center; }
		aside#aside li { font-size:20px; text-align:center; float:center; font-weight:bold;  z-index:1; }
		aside#aside li a { color:#000; display:block; padding:10px 0; }
		aside#aside li a:hover { text-decoration:none; background:#eee; }
		
		aside#aside li { position:relative; }
		aside#aside li:hover { background:#eee; } 		
		aside#aside li > ul.low { display:none; position:absolute; top:48px; left:0;}
		aside#aside li:hover > ul.low { display:block; }
		aside#aside li:hover > ul.low li a { background:#eee; border:1px solid #eee; }
		aside#aside li:hover > ul.low li a:hover { background:#fff;}
		aside#aside li > ul.low li { width:180px; }

		
